{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
<main class="recipe-detail">
    <div>
        <a href="{% url 'mealplan_edit' mealplan.pk %}">Edit</a>
        <a href="{% url 'mealplan_delete' mealplan.pk %}">Delete</a>
    </div>
    <h1>{{ mealplan.name }}</h1>
    <h2>by: {{ mealplan.owner | default_if_none:"Unknown" }}</h2>
    <p>
        To be served on {{ mealplan.date }}
    </p>
    <p>
        {% for recipe in mealplan.recipes.all %}
        <a href="{% url 'recipe_detail' recipe.pk %}"> {{ recipe.name }} |</a>
        {% endfor %}
    </p>
</main>
{% endblock content %}