{% extends 'base.html' %}

{% block content %}
<main class="recipe-form">
    <h2>Edit
        <a href="{% url 'mealplan_detail' mealplan.pk %}">{{ mealplan.name }}</a>
        :
    </h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="control">
            <button class="button">Update</button>
        </div>
    </form>
</main>
{% endblock content %}