{% extends 'base.html' %}

{% block content %}
<main class="recipe-grid">
    <h2>List of Mealplans:</h2>
    {% for mealplan in mealplan_list %}
    <div class="recipe-card">
        <h2 class="recipe-card-title">
            <a href="{% url 'mealplan_detail' mealplan.pk %}">{{ mealplan.name }}</a>
        </h2>
        <p class="recipe-card-date">{{ mealplan.updated }}</p>
        {% for recipe in mealplan.recipes.all %}
        <p>
            <a href="{% url 'recipe_detail' recipe.pk %}"> {{ recipe.name }} |</a>
        </p>
        {% endfor %}
    </div>
    {% empty %}
    <div>
        <h2>No Mealplans yet.</h2>
        <p>
            Would you like to
            <a href="{% url 'mealplan_create' %}">create</a>
            a meal plan?
        </p>
    </div>
    {% endfor %}
</main>
{% endblock content %}

{% block pagination %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock pagination %}