{% extends 'base.html' %}

{% block content %}
<main>
    <h2>Your Shopping List:</h2>
    {% for item in shoppingitem_list %}
    <li>
        {{ item.food_item }}
    </li>
    {% endfor %}
    <div>
        <form method="post" action="{% url 'shopping_list_clear' %}">
            {% csrf_token %}
            <button>Clear List</button>
        </form>
    </div>
</main>
{% endblock content %}